* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    font-size: 14px;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

.white-text {
    color: white;
}

.grey-text {
    color: rgba(101,101,101,255);
}

/* REGOLE SIDEBAR E MAIN */

.top-container {
    display: flex;
    height: calc(100vh - 85px);
    min-width: 450px;
}


/* REGOLE SIDEBAR */

.sidebar {
    width: 250px;
    background-color: black;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: rgba(101,101,101,255);
    
}

.sidebar .logo {
    width: 70%;
    margin-bottom: 30px;
    color: white;
    padding: 10px 10px 10px 0px
}

.sidebar .logo img {
    max-width: 100%
}

#small-logo {
    display: none;
}

.sidebar .nav-sidebar .fa-solid {
    font-size: 1.3rem;
    margin-right: 5px;    
}

.sidebar ul {
    list-style-type: none;
    margin-bottom: 30px;
}

.sidebar ul li {
    margin-bottom: 20px;
}

/* .sidebar a {
    color: rgba(101,101,101,255);
} */

.sidebar h3 {
    margin-bottom: 20px;
    color: white;
}

.sidebar .new-playlist {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.sidebar .new-playlist .fa-plus {
    display: inline-block;
    padding: 10px;
    font-size: 1.2rem;
    color: black;
    background-color: rgba(101,101,101,255);
}

.sidebar .playlist-sidebar {
    overflow-y: auto;
    min-height: 50px;
}

.sidebar .bot-side-section {
    margin-top: auto;
}

.sidebar .bot-side-section hr {
    margin: 10px 40px 10px 0;
}

.sidebar .account-name {
    color: white;
    margin-bottom: 10px;
}

/* /FINE REGOLE SIDEBAR */



/* REGOLE MAIN CONTENT */

.main-content {
    width: calc(100% - 250px);
    background-color: rgba(20,25,34,255);
    padding-top: 100px;
    overflow-y: auto;
}



/* REGOLE MAIN CONTENT - CATEGORY */

.category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.category a {
    color: rgba(101,101,101,255);
    font-weight: bold;
    transition: 0.3s;
}

.category a:hover {
    color: white;
}



/* /FINE REGOLE MAIN CONTENT - CATEGORY */

/* REGOLE ALBUMS */

.albums-container {
    padding-left: 10px;
    padding-right: 10px;
}

.albums-container h2 {
    color: white;
    margin-top: 20px;
}

.albums-container h5 {
    color: rgba(101,101,101,255);
    margin-top: 10px;
    margin-bottom: 30px;
}

.albums {
    
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.albums .box {
    width: calc((100% / 6) - 20px);
    /* DEBUG */
    /* height: 100px; */
    /* background-color: red; */
    /* border: solid 2px black; */
}

.box > .album-image img {
    max-width: 100%;
    object-fit: cover;
}

.op {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.album-image {
    position: relative;
    cursor: pointer;
}

.album-image:hover .op {
    opacity: 1;
}

.album-play {
    font-size: 3rem;
    color:white;
}

.box > h4 {
    color: white;
    text-align: center;
    margin-top: 10px;
    transition: cursor 0.3s ease-in-out;
}

.box > h5 {
    text-align: center;
    margin-top: 10px;
    transition: cursor 0.3s ease-in-out;
}

.box:hover h4, h5 {
    cursor: pointer;
}

.border-radius-50 {
    border-radius: 50%;
}

/* /FINE REGOLE MAIN CONTENT */


/* UPGRADE BAR */
.upgrade-bar {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100px;
    background-color: rgba(8,11,18,0.5);
    position: fixed;
    top: 0;
    right: 0;
}

#upgrade-button {
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 18px;
    transition: 0.3s;
    
}

#upgrade-button:hover {
    transform: scale(1.1);
}
/* /FINE UPGRADE BAR */


/* REGOLE PLAYER BAR */
.player-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
    min-width: 450px;
    background-color: rgba(40,40,40,255);
    /* SENZA POSITION RELATIVE, Z-INDEX NON FUNZIONA */
    position: relative; 
    z-index: 100;
}

/* REGOLE SONG INFO */

.player-bar .song-info {
    flex-basis: calc(100% / 3);
    flex-grow: 1;
    flex-shrink: 2;
    padding-left: 7px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.player-bar .song-info .song-image {
    width: 11%;
}

.player-bar .song-info .song-image img {
    max-width: 100%;
    object-fit: cover;
}

.player-bar .song-info .like-save {
    padding-left: 10px;
}

.player-bar .song-info .like-save .fa-heart {
    margin-right: 10px;
}

/* REGOLE PLAYER CONTROL */
.player-bar .player-control {
    flex-basis: calc(100% / 3);
    flex-grow: 2;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-bar .player-control .controls {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.player-bar .player-control .controls button {
    background-color: rgba(40,40,40,255);
    border: none;
    font-size: 1.3rem;
    color: white;
} 

#play {
    margin-left: 10px;
    margin-right: 10px;
}

/* REGOLE DURATION */
.player-bar .player-control .duration {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

#current-timer {
    padding-right: 5px;
}

#end-timer {
    padding-left: 5px;
}

.player-bar .player-control .duration input[type=range] {
    width: 50%;
}

/* REGOLE VOLUME SHARE */

.player-bar .volume-share {
    flex-basis: calc(100% / 3);
    flex-grow: 1;
    flex-shrink: 2;
    padding-right: 7px;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

.player-bar .volume-share input {
    width: 30%;
}


/* MEDIA QUERY 890px*/
@media screen and (max-width: 890px) {
    .albums {
        flex-wrap: wrap;
    }

    .albums .box {
        width: calc((100% / 4) - 20px);
    }

    
}

/* MEDIA QUERY 768px */
@media screen and (max-width: 768px) {
    .albums .box {
        width: calc((100% / 2) - 20px);
    }

    .category li {
        padding: 0;
    }
}



/* MEDIA QUERY 686px PER FAR SPARIRE IMMAGINE CANZONE*/
@media screen and (max-width: 686px) {
    .song-image {
        display: none;
    }
    
}

/* MEDIA QUERY ALTEZZA 454px*/
@media screen and (max-height: 454px) {
    .new-playlist, .playlist-sidebar, .bot-side-section {
        display: none;
    }
    
}




/* MEDIA QUERY 490px */
@media screen and (max-width: 490px) {
    .sidebar .new-playlist, h3 {
        display: none;
    }

    .playlist-sidebar {
        display: none;
    }

    #big-logo {
        display: none;
    }

    .sidebar .logo {
        width: 100%;
        margin-bottom: 5px;
    }

    #small-logo {
        display: inline-block;
    }

    #small-logo img {
        max-width: 100%;
        object-fit: cover;
    }

    .mobile-no {
        display: none;
    }

    .main-content {
        width: calc(100% - 50px);
    }
    
    .sidebar {
        width: 50px;
    }

    .upgrade-bar {
        width: calc(100% - 50px);
    }
    .account-name {
        margin-top: 10px;
    }

    /* .controls .fa-solid {
        font-size: 0.8rem;
    } */

    .player-bar .player-control .controls {
        gap: 8px;
    }

    #play {
        margin-left: 3px;
        margin-right: 3px;
        /* font-size: 0.8rem; */
      }

    .player-bar .song-info .like-save {
        padding-left: 0px;
      }

    .player-bar .volume-share {
        gap: 7px;
      }  

    .player-bar .volume-share .fa-solid {
        font-size: 0.8rem;
    }  
}







 /* HOVER AND ACTIVE CLASSES */
.hover-line-under {
    position: relative;
  }
  
.hover-line-under::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(173,255,47,255);
    transition: width 0.3s ease-in-out;
  }
  
.hover-line-under:active::after {
    width: 45%;
  }
 
  
.hover-line-left {
    position: relative;
  }
  
.hover-line-left::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 0;
    top: 0;
    left: -18px;
    background-color: rgba(173,255,47,255);
    transition: height 0.3s ease-in-out;
  }
  
.hover-line-left:active::after {
    height: 100%;
  }


.white-trans {
    transition: color 0.3s;
}

.white-trans:hover {
    color: white;
}

.white-act {
    transition: color 0.3s;
}

.white-act:active {
    color: white;
}

.sidebar .new-playlist .fa-plus {
    transition: all 0.3s ease-in-out;
}

.sidebar .new-playlist:hover .fa-plus {
    background-color: white;
}

.underline-trans {
    transition: all 0.3s;
}

.underline-trans:hover {
    text-decoration: underline;
}

.scale-trans {
    transition: all 0.3s;
}

.scale-trans:hover {
    transform: scale(1.3);
}