* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    font-size: 14px;
}

a {
    text-decoration: none;
}

.white-text {
    color: white;
}

.grey-text {
    color: rgba(101,101,101,255);
}

/* REGOLE SIDEBAR E MAIN */

.top-container {
    display: flex;
    height: calc(100vh - 85px);
}


/* REGOLE SIDEBAR */

.sidebar {
    width: 250px;
    background-color: black;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: rgba(101,101,101,255);
    
}

.sidebar .logo {
    margin-bottom: 30px;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    margin-bottom: 30px;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar a {
    color: rgba(101,101,101,255);
}

.sidebar h3 {
    margin-bottom: 20px;
    color: white;
}

.sidebar .new-playlist {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.sidebar .playlist-sidebar {
    overflow-y: auto;
    min-height: 50px;
}

.sidebar .bot-side-section {
    margin-top: auto;
}

.sidebar .bot-side-section hr {
    margin: 10px 40px 10px 0;
}

.sidebar .account-name {
    color: white;
}

/* /FINE REGOLE SIDEBAR */



/* REGOLE MAIN CONTENT */

.main-content {
    width: calc(100% - 250px);
    background-color: rgba(20,25,34,255);
    padding-top: 100px;
    overflow-y: auto;
}



/* REGOLE MAIN CONTENT - CATEGORY */

.category {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.category a {
    color: rgba(101,101,101,255);
    font-weight: bold;
}

/* /FINE REGOLE MAIN CONTENT - CATEGORY */

/* REGOLE ALBUMS */

.albums-container {
    padding-left: 10px;
    padding-right: 10px;
}

.albums-container h2 {
    color: white;
    margin-top: 20px;
}

.albums-container h5 {
    color: rgba(101,101,101,255);
    margin-top: 10px;
    margin-bottom: 30px;
}

.albums {
    
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.albums .box {
    width: calc((100% / 6) - 20px);
    /* DEBUG */
    /* height: 100px; */
    /* background-color: red; */
    /* border: solid 2px black; */
}

.box > .album-image img {
    max-width: 100%;
    object-fit: cover;
}

.box > h4 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.box > h5 {
    text-align: center;
    margin-top: 10px;
}

#border-radius-50 {
    border-radius: 50%;
}

/* /FINE REGOLE MAIN CONTENT */


/* UPGRADE BAR */
.upgrade-bar {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100px;
    background-color: rgba(8,11,18,0.2);
    position: fixed;
    top: 0;
    right: 0;
}

#upgrade-button {
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 18px;
    
}
/* /FINE UPGRADE BAR */


/* REGOLE PLAYER BAR */
.player-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
    background-color: rgba(40,40,40,255);
    /* SENZA POSITION RELATIVE, Z-INDEX NON FUNZIONA */
    position: relative; 
    z-index: 100;
}

/* REGOLE SONG INFO */

.player-bar .song-info {
    width: 20%;
    padding-left: 7px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.player-bar .song-info .song-image {
    width: 11%;
}

.player-bar .song-info .song-image img {
    max-width: 100%;
    object-fit: cover;
}

.player-bar .song-info .like-save {
    padding-left: 50px;
}

.player-bar .song-info .like-save .fa-heart {
    margin-right: 10px;
}

/* REGOLE PLAYER CONTROL */
.player-bar .player-control {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-bar .player-control .controls {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.player-bar .player-control .controls button {
    background-color: rgba(40,40,40,255);
    border: none;
    font-size: 1.3rem;
    color: white;
} 

#play {
    margin-left: 10px;
    margin-right: 10px;
}

/* REGOLE DURATION */
.player-bar .player-control .duration {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

#current-timer {
    padding-right: 5px;
}

#end-timer {
    padding-left: 5px;
}

.player-bar .player-control .duration input[type=range] {
    width: 70%;
}

/* REGOLE VOLUME SHARE */

.player-bar .volume-share {
    width: 20%;
    padding-right: 7px;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}